pipeline/MetadataPipeLine.json
{
	"name": "MetadataPipeLine",
	"properties": {
		"activities": [
			{
				"name": "GetMetaData",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "MetaDataWait",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "GetMetaDataDataSet",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "MetaDataFilter",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetMetaData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetaData').output.childitems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name,'e')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "IfMetaDataCondition",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "MetaDataFilter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@empty(activity('MetaDataFilter').output)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "MetaDataAppendVar",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "MetaDataVar1",
								"value": "'FalseSection'"
							}
						}
					]
				}
			},
			{
				"name": "MetaDataWait",
				"type": "Wait",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 5
				}
			}
		],
		"variables": {
			"MetaDataVar1": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}